*~
*.d
*.o
*.lo
*.a
*.so
*.so.*
*.out
*.pyc
*.kate-swp
core*
build

*.tar.gz
*.tar.bz2
*.zip
*.bag

*.local

#*.dat
#*.traj
*.old
old-*
#tmp*
backup*
trash
result

msg_gen
srv_gen

.pyhist

robots/bioloid/res/
opencv/cpp/frame/
opencv/cpp/data/
cpp/algorithms/leastsq/res/
cpp/libraries/open_dynamics_engine/manip/debug.dat
cpp/libraries/open_dynamics_engine/manip/frame/
python/cma_es/data/
python/cma_es/outcmaes_obj.dat
python/cma_es/outcmaes_res.dat
python/cma_es/outcmaesaxlen.dat
python/cma_es/outcmaesfit.dat
python/cma_es/outcmaesstddev.dat
python/cma_es/outcmaesxmean.dat
python/cma_es/outcmaesxrecentbest.dat
python/algorithms/ml/res/
python/profiler/stat.dat
python/algorithms/state_machines/data/
cpp/libraries/raytrace/baymax.png
cpp/libraries/raytrace/doncross/raytrace/raytrace/raytrace
cpp/libraries/raytrace/doncross/sample/
cpp/libraries/yaml/yaml-cpp/
ros/cpp_ros/*/bin/
ros/cpp_ros/ode1/src/ode1/
